<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> new </title>
</head>
<body>
    <h1>Create new Campgrounds</h1>

    <form action="/campgrounds" method="POST">
      <div>
          <label for="title">Title :</label>
          <input type="text" id="title" name="title">
      </div>
      <div>
        <label for="loc">Location :</label>
        <input type="text" id="loc" name="location">
    </div>
      <button>Create</button>
    </form>

    <a href="/campgrounds">Back</a>
</body>
</html>